@import "tailwindcss";



#header
{
    padding: 20px;
    border: 1px solid grey;
    text-align: right;
    background-color: rgb(214, 240, 249);
}

#footer
{
    height: 200px;
    background-color: lightblue;
    padding: 50px;
}

#productData
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1 {
    text-align: center;
    color: rgb(53, 149, 245);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#topHeader
{
    
    position:sticky;
    top: 0;
    z-index: 1;
}

#procounter
{
   

    background-color: antiquewhite;
    
    margin-top: 50px;
    margin-right: 10px;
    padding-left: 10px;
    align-items: center;
    text-align: center;
    color:black;
}

#cart
{
    
    background-color: antiquewhite;
    border-radius: 50%;
    display: flex;
    justify-content: end;
    font-size: 30px;
    color:red;
}

#remove
{
    display: flex;
    flex-direction: column;
border: 1px solid black;
align-items: center;
text-align: center;
width: 80px;
border-radius: 50px;
margin: 20px;


}